<!-- in the spirit of bootstrap 3.x's "mobile first" idea, the first block of html code here is the markup for the mobile version (xs) -->
<div class="row">
	<nav id="hbs_header" class="navbar navbar-inverse" role="navigation">
	  <!-- navbar toggle menu-->
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle as_navbar_mobile_menu" data-toggle="collapse" data-target="#navbar_mobile_collapse">
		    <span class="sr-only">Toggle navigation</span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand as_navbar_brand" href="/">HBS SA</a>
		</div> <!-- ./navbar-header -->

		<div class="collapse navbar-collapse" id="navbar_mobile_collapse">
		  <ul class="nav navbar-nav"> 
			  {% for link in linklists.main-menu.links %}
		      <li role="presentation"> 
		        <a role="menuitem" tabindex="-1" href="{{ link.url }}"> {{ link.title }} </a> 
		      </li>
		    {% endfor %}
		  </ul>
		</div> <!-- /.navbar-collapse -->
	</nav> <!-- /.navbar-->
</div>
