{% assign product_types = collections.all.all_types %}

{% assign once_special_collections = true %}
{% for collection in (collections | sort: 'title') %}
  {% if collection.products_count > 0 %}
    {% if once_special_collections %}
      {% assign collections_special = collection.handle %}
      {% assign once_special_collections = false %}
    {% else %}
      {% assign collections_special = collections_special | append: "," | append: collection.handle %}
    {% endif %}
  {% endif %}
{% endfor %}
{% assign collections_special = collections_special | split: "," %}

{% assign scopeTest = true %}
  
<div class="catalog_all_leftMenu_collections">
  <h4 class="collections_header block-title"> Collections </h4>
  <ul class="collections_list block-text">
    {% for collection_handle in collections_special %}
      <li>
        <a href="/collections/{{collection_handle}}">
          {{ collections[collection_handle].title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>

