<script>
hbsApp.tableData = [
  ["EC Section Officers","Section A","Section B","Section C","Section D","Section E","Section F","Section G","Section H","Section I","Section J"  ],
  ["President","Fred Spring","Bilal Saafir","Timothy Leach","Derek Geiger","Kenneth Salas","John Chartier","Nassar Farid Mufdi Ruiz","Lita Tandon","A.J. Bertone","Wyatt Smith"  ],
  ["Senator","Soyoon Sung","Kerry Stuewer","Adam Schaack","Byron Scott","Nimi Katragadda","Julia Cohen","Daniel Zainulbhai","Emily Goergen","Ali Huberlie","Aaron Wurst"  ],
  ["Leadership & Values Rep.","Tony He","Chao Zeng","Will Spring","Travis Reese","Geoffrey Masterson","Hannah Merves","Ann Marie Brouillette","Moonlit Wang","Geng Wang","Farah Ahmed"  ],
  ["Education Rep.","Urvesh Shelat","Andrew Pratt","Abby Hafler","Eric Benjamin","Terry Wang","Calvin Young","Darius Imregun","Kelly McKenna","Wayne Sackett","Seema Amble"  ],
  ["Section Social Chair (2)","Livia Dinu","Eduardo Hariton","Tiffany Iaconis","Allison Capone","Gregory Mervine","James Galante","Phillip Kim","Laura Little","Pato Bichara","Sarina Hickey"  ],
  ["Section Social Chair (2)","Leslie Vorhees","Chantel Hopper","Dina Model","Nisha Phatak","Heather Silverio","Erin Trimble","Margaret Persons","Mary Szpak","Jamie Wilkie","Dave Silverman"  ],
  ["Treasurer","Saul Kopelowitz","Teresa Xiao Tang","Katie Palusci","Jane Fang","Jan Hoberg","Funlola Abe","Evan Gogel","Tim Alden","Anindya Mishra","Matt Khan"  ],
  ["Admissions Rep. (2)","Judy Qiu","Nneka Ezeigwe","Olivia Nnadi","Anvesh Manne","Elizabeth Chertavian","Sam Ellner","Leslie Moser","Ezra Okon","Rachel Peterson","Rafael Hines"  ],
  ["Admissions Rep. (2)","Luis Orestano","Nick White","Clay Wiske","Jace Goodier","Sean Gillick","Lior Litwak","Chandni Sachdeva","Steven Hirsch","Neil Wusu","Bilal Noor"  ],
  ["Career Rep.","Ben Barclay","Michelle Tandler","Sara Magenheimer","Ben DeStein","Shivali Agarwal","Luna Ma","Stephanie Tupi","Alex Guriev","Rakhshan Zahid","Tejal Shahapurkar"  ],
  ["Athletic Rep.","Keri DeMar","Megan Ritter","Matt Zenz","Pat Burke","Katie Omstead","Mario Zarazua","Cici Liu","Robert Gimson","Killian Toms","Matt Cooper"  ],
  ["International Rep.","Santiago Padilla","Stuart Mac William","Alexandre Salemi","Matthew Quinn","Adrian Villasenor","Pervez Asli","Guy Kamguia","Nagi OtgonShar","Gonzague de Montrichard","Kathryn McGeough"  ],
  ["SA Events & Products Rep.","Nesli Kohen","Ben Lluncor","Laura Vincent","Lissie Lockwood","Debbie Pham","TBD","Martine Drageset","Lindsay Williams","Cat Williams","Wande Abe"  ],
  ["Service Rep.","Kristen McNutt","Brianne Blakey","Lauren Barra","Tobi Ogbechie","Jaime Rodriguez","TBD","Selena Singleton","Lisa Zhou","Kim Chen","Kirk Smith"  ],
  ["Technology Rep.","Owen Lin","Sunny Kanneganti","Karan Ghandi","Eric Gastfriend","Rob Loughlin","Ryan Fox","Ashish Bakshi","Juan Eyzaguirre","Michael Ma","Addie Ogunwole"  ],
  ["WSA Rep.","Winnie Yeung","Astghik Poladyan","Jessica Snow-Wasserman","Geraldine Chachoua","Rebecca Binder","Anna King","Eunice Kim Dove","Kiran Ghandhi","Sundus Hussain","Adriana McAda"  ]
];

hbsApp.table2Data = {
    "Section":["A","A","A","A","A","A","A","A","A","A","A","A","A","A","A","A","B","B","B","B","B","B","B","B","B","B","B","B","B","B","B","B","C","C","C","C","C","C","C","C","C","C","C","C","C","C","C","C","D","D","D","D","D","D","D","D","D","D","D","D","D","D","D","D","E","E","E","E","E","E","E","E","E","E","E","E","E","E","E","E","F","F","F","F","F","F","F","F","F","F","F","F","F","F","F","F","G","G","G","G","G","G","G","G","G","G","G","G","G","G","G","G","G","H","H","H","H","H","H","H","H","H","H","H","H","H","H","H","H","I","I","I","I","I","I","I","I","I","I","I","I","I","I","I","I","J","J","J","J","J","J","J","J","J","J","J","J","J","J","J","J"],
    "Name":["Anna Raginskaya","Allie Egan","Danny Belch","Emily Shao","Tara Fung","Georgiana Sidor","Jess Goldfin","Felicia Pappas","Margareta Klincic","Ben Brinkopf","Melissa Beck","Michelle Chmielewski","Matt Eisen","Austin Oehlerking","Allen Yang","Neha Aviral","Kathryn Megna","Martin Hudak","Charlie McDonald","Elise Waxenberg","Lyndsey Billings","Martina Gimenez-Comas","Caitlin Palmer","Terence Kim","Cameron Farkas","Catherine Slater","Cally Everett","Jeff Zeller","Sameer Manek","Britt Danneman","Caitlin Haught","Lauren Davis","David Fairbank/Bryan Kornswiet","Eddie Coates","Colin Fraser","Rebecca Dunek","Julia Senior","Kelvin Teo","Joy Peabody","Greg Austin","Mark Powers","Alex Vassilev","Sarah Nam","Annie Rittgers","Karan Kumar","Edward Weng","Diego Kantt","Maia McCarron","Page Wagley","Carl Culicchia","Sara Weber","Liat Berry","Carina Rutgers","Arnaud Favry","Mark Godfrey","Brittany Jones","David Chan","Sarah Kretz","Harsh Narang","Daniella Johnson","Elizabeth Bruyere","Mark Godfrey","Karthik Medarmetla","Andrea Blankmeyer","Joanna Patterson","Hillary Dukart","Michael Stack","Lucian Tira","Fahim Bashir","Humbulani Dombo","Russell Mason","Zachary Sokoloff","Jonathan Scherr","Elizabeth Clark","Tim O'Hara","Jennifer Henderson","Kathryn Smith","Alex Santana ","Josh Lee","Lauren Richardson","Elliott Davis","Ashley Daniels","Andrew Fong","Jennifer Ding","Kevin Fitzgerald","Sathin Poovarodom","Richard Buckner","Eleanor Foote","Emily Schofield","Giulia Siccardo","Vatsala Deora","Beatrice El-Hage","TBD","Doba Parushev","Marti Riba","Jocelyne Moyer","Stephanie Marr","Carol Davis","Kane Hochster","Mandy Craig","Jordan Dolman","Fatima Porras Olalla","Rahima Dosani","Brad Minkow","Cauvery Patel","Michael Koichpolos","David Bogorad","Meghan Murphy","Shemeka Neville","Namrata Turaga","Ian Rorick","Tom Setiawan","Hilary McCain","Molly Palmersheim","Matthew Renner","Will Sandman","Evan Sameroff","Emma Hall","Sofia Pietrella","Sam Lazarus","Caroline Boulos","Aaron Mahone","Christy Liu","Sarah Cognetti","Sisi Pan","Matthew Chu","Evan Valentini","Patrick Fangen","Janae Grijalva","Matt Fujisawa","Sam Travers","Adam Taylor","Ryan Kraft","Riki McCarthy","Maimouna Diakhaby","Ben Seipel","Chris Scullin","Katie Lefkowitz","Julie Cockle","Dahila Cnter","Tausif Ahmed","David Truetzel","Steven Henderson","Luke Henesy","Kaitlyn Godfrey","Jeremy Watson","Casey Brock-Wilson","Josh Altman","Greg Laudick","Alix Olian","Francisco Zinser","Juan Pablo Moncayo","Paul Sperduto","Meghana Dhar","Chris Igo","Marissa Henry","Seong Min Lee","Leticia Tavares","Cyrus Stoller","Brett Bone","Shannon Nelson"],
    "Position":["Admissions Rep. (1)","Admissions Rep. (2)","Athletic Rep.","Career Rep.","Education Rep.","International Rep.","Leadership and Values Rep.","President","SA Rep.","Senator","Services Rep.","Social Chair (1)","Social Chair (2)","Technology Rep.","Treasurer","WSA Rep.","Admissions Rep. (1)","Admissions Rep. (2)","Athletic Rep.","Career Rep.","Education Rep.","International Rep.","Leadership and Values Rep.","President","SA Rep.","Senator","Services Rep.","Social Chair (1)","Technology Rep.","Treasurer","WSA Rep.","Social Chair (2)","Admissions Rep. (1)","Admissions Rep. (2)","Athletic Rep.","Career Rep.","Education Rep.","International Rep.","Leadership and Values Rep.","President","SA Rep.","Senator","Services Rep.","Social Chair (1)","Social Chair (2)","Technology Rep.","Treasurer","WSA Rep.","Admissions Rep. (1)","Admissions Rep. (2)","Athletic Rep.","Career Rep.","Education Rep.","International Rep.","Leadership and Values Rep.","President","SA Rep.","Senator","Services Rep.","Social Chair (1)","Social Chair (2)","Technology Rep.","Treasurer","WSA Rep.","Admissions Rep. (1)","Admissions Rep. (2)","Athletic Rep.","Career Rep.","Education Rep.","International Rep.","Leadership and Values Rep.","President","SA Rep.","Senator","Services Rep.","Social Chair (1)","Social Chair (2)","Technology Rep.","Treasurer","WSA Rep.","Admissions Rep. (1)","Admissions Rep. (2)","Athletic Rep.","Career Rep.","Education Rep.","International Rep.","Leadership and Values Rep.","President","SA Rep.","Senator","Services Rep.","Social Chair (1)","Social Chair (2)","Technology Rep.","Treasurer","WSA Rep.","Admissions Rep. (1)","Admissions Rep. (2)","Athletic Rep.","Career Rep.","Education Rep.","International Rep.","Leadership and Values Rep.","President","SA Rep.","Senator","Services Rep.","Social Chair (1)","Social Chair (2)","Social Chair (3)","Technology Rep.","Treasurer","WSA Rep.","Admissions Rep. (1)","Admissions Rep. (2)","Athletic Rep.","Career Rep.","Education Rep.","International Rep.","Leadership and Values Rep.","President","SA Rep.","Senator","Services Rep.","Social Chair (1)","Social Chair (2)","Technology Rep.","Treasurer","WSA Rep.","Admissions Rep. (1)","Admissions Rep. (2)","Athletic Rep.","Career Rep.","Education Rep.","International Rep.","Leadership and Values Rep.","President","SA Rep.","Senator","Services Rep.","Social Chair (1)","Social Chair (2)","Technology Rep.","Treasurer","WSA Rep.","Admissions Rep. (1)","Admissions Rep. (2)","Athletic Rep.","Career Rep.","Education Rep.","International Rep.","Leadership and Values Rep.","President","SA Rep.","Senator","Services Rep.","Social Chair (1)","Social Chair (2)","Technology Rep.","Treasurer","WSA Rep."]
};

var jsonFile = hbsApp.tableData;
var jsonFile2 = hbsApp.table2Data;

$(function () {

  // order: 
  var positionOrder = {
    'President'                  : 0,
    'Senator'                    : 1,
    'Leadership and Values Rep.' : 2,
    'Education Rep.'             : 3,
    'Social Chair (1)'           : 4,
    'Social Chair (2)'           : 5,
    'Social Chair (3)'           : 6,
    'Treasurer'                  : 7,
    'Admissions Rep. (1)'        : 8,
    'Admissions Rep. (2)'        : 9,
    'Career Rep.'                : 10,
    'Athletic Rep.'              : 11,
    'International Rep.'         : 12,
    'SA Rep.'                    : 13,
    'Services Rep.'              : 14,
    'Technology Rep.'            : 15,
    'WSA Rep.'                   : 16
  }

  var sectionOrder = {
    A: 0,
    B: 1,
    C: 2,
    D: 3,
    E: 4,
    F: 5,
    G: 6, 
    H: 7,
    I: 8, 
    J: 9,  
  };

  var stripLeadingWhiteSpace = function (string) {
    return string.replace(/\s*$/g, "");
  };

  var stripTrailingWhiteSpace = function (string) {
    return string.replace(/^\s*/g, "");
  };

  var stripEndSpaces = function (string) {
    return stripLeadingWhiteSpace(stripTrailingWhiteSpace(string));
  };

  // excel data can come in different forms, this converts rows of people data to a table like manner
  // the posOrder and secOrder must match excel info EXACTLY
  var arrayColumnToTable = function (officersObj, result, posOrder, secOrder) {
    var positions = officersObj.Position;
    var sections = officersObj.Section;
    var names = officersObj.Name;

    names.forEach(function (person, index, array) {
      var section = sections[index];
      var position = positions[index];

      var positionPlacement = posOrder[stripEndSpaces(position)]; // integer
      var sectionPlacement = secOrder[stripEndSpaces(section)];   // integer

      if (result[positionPlacement+1] === undefined) {
        result[positionPlacement+1] = [position];
      }

      result[positionPlacement+1][sectionPlacement+1] = person;

    })

    return result;

  };

  // makes every row equal in length, and replaces undefined values with empty strings
  var fillBlanks = function (list) {
    var maxFields = list[0].length;

    list.forEach(function (row, j, array) {

      // for each row, if there are undefined values, change them to empty strings
      for (var i = 0; i < row.length; i++) {
        if (row[i] === undefined) {
          row[i] = "";
        }
      }

      // for each row, if it has less data (columns) than the headers, push in filler empty string entries
      if (row.length < maxFields) {
        var missing = maxFields - row.length;
        for (var i = 0; i < missing; i++) {
          row.push("");
        }
      }

      console.log(row[0], row.length, 0 < maxFields - row.length);
    });

    return list;
  };


// helper functions for constructing section officer table

  // create a table cell
  var createTD = function (text, parent) {
    var td = $('<td></td>').text(text);
    // parent should be a row
    if (parent) { parent.append(td); }
    return td;
  };

  // create a table header
  var createTH = function (text, parent) {
    var th = $('<th></th>').text(text);
    if (parent) { parent.append(th); }
    return th;
  };

  // create a row
  var createRow = function (td, parent) {
    var row = $('<tr></tr>');
    if (td) { row.append(td); }
    if (parent) { parent.append(row); }
    return row;
  }

  /*****************************************************************************
      actual table construction
  *****************************************************************************/
  var middle = [
    ["RC Section Officers","Section A","Section B","Section C","Section D","Section E","Section F","Section G","Section H","Section I","Section J"  ] 
  ];
  var realData = arrayColumnToTable(jsonFile2, middle, positionOrder, sectionOrder);
  realData = fillBlanks(realData);

  var createTable = function (data, appendTarget) {

    var tableHead = $('<thead></thead>');
    var tableBody = $('<tbody></tbody>');
    var table = $('<table></table>').addClass('table table-striped');

    table.append(tableHead).append(tableBody).appendTo($(appendTarget));

    // col groups?
    table.prepend($('<colgroup><col/></colgroup>'));

    // data
    for (var rowIndex = 0; rowIndex < data.length; rowIndex++) {
      var row = data[rowIndex];
      var jqueryRow = createRow();
      for (var colIndex = 0; colIndex < row.length; colIndex++) {
        var cellContent = row[colIndex];
        if (rowIndex === 0) {
          var th = createTH(cellContent, jqueryRow);
        } else {
          var td = createTD(cellContent, jqueryRow);
        }
      }
      if (rowIndex === 0) {
        tableHead.append(jqueryRow);
      } else {
        tableBody.append(jqueryRow);
      }
    }
  };

  createTable(jsonFile, "#ec-table .tableWrapper");
  createTable(realData, "#rc-table .tableWrapper");

});


</script>