{% include 'pageInfoToJS' with 'product-page-item' %}

<div class="row product-page-row1">
  <div class="col-sm-8">
    <div class="center-block product-page-productPicture">
      <img class="center-block thumbnail" src="{{product.featured_image | img_url: 'large' }}"/>
    </div> <!-- END ./product-page-productPicture -->

    {% if product.handle == 'jansport-custom-bag' %}
      <div class="center-block variantImages">
        {% for image in product.images %}
            <img src="{{ image.src | product_img_url: 'thumb' }}">
        {% endfor %}    
      </div>
    {% endif %}
  </div> <!-- END ./col-sm-7 -->
  <div class="col-sm-4 product-page-rightColumn">
    <div class="product-page-form">
      {% include 'checkout-form' %}
    </div> <!-- product-page-form -->
  </div> <!-- END /.col-sm-4 -->
</div><!-- product-page-row1 -->

<div class="row product-page-row2">
      <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#description" role="tab" data-toggle="tab">Description</a></li>
    <li><a href="#sizing" role="tab" data-toggle="tab">Extra Information</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="description">
      <div id="product-description" class="rte" itemprop="description">
        {{ product.description }}
      </div>
    </div>
    <div class="tab-pane" id="sizing">
      Some sizing info, or other special info about the product itself / special instruction. Some sizing info, or other special info about the product itself / special instruction. Some sizing info, or other special info about the product itself / special instruction. Some sizing info, or other special info about the product itself / special instruction. Some sizing info, or other special info about the product itself / special instruction. Some sizing info, or other special info about the product itself / special instruction. 
    </div>
  </div>  
</div>



