{% include 'pageInfoToJS' with 'product-page-item' %}

<div class="row product-page-row1">

  {% if product.images.size > 1 %}
    <div id="product-variant-images" class="col-xs-3 col-sm-2 col-md-1">
    {% for image in product.images %}
      <img class="variant-image" alt="image.alt" src="{{image.src | img_url: "grande" }}"/>
    {% endfor %}
    </div>
  {% else %}
  <div class="col-sm-1 col-md-1">    
  </div>
  {% endif %}
  
  <div class="col-xs-9 col-sm-7 col-md-6">
    <div class="center-block product-page-productPicture">
      <img id="main-image" class="main-image thumbnail" src="{{product.featured_image | img_url: 'grande' }}"/>
    </div> <!-- END ./product-page-productPicture -->
  </div> <!-- END ./col-sm-7 -->


  <div class="col-xs-12 col-sm-3 col-md-4 product-page-rightColumn">
    <div class="product-page-form">
      {% include 'checkout-form' %}
    </div> <!-- product-page-form -->
  </div> <!-- END /.col-sm-4 -->
</div><!-- product-page-row1 -->

<div class="row product-page-row2">
      <!-- Nav tabs -->
  <div class="col-sm-7">  
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#description" role="tab" data-toggle="tab">Description</a></li>
      <li><a href="#extraInformation" role="tab" data-toggle="tab">Extra Information</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="description">
        <div id="product-description" class="rte" itemprop="description">
          <script>
            hbsApp.addExtraFormFields.html = {{ product.description | json }};
          </script>
        </div>
      </div>
      <div class="tab-pane" id="extraInformation">
        {% for collection in product.collections %} 
          {{ collection.description }}
        {% endfor %}
      </div>
    </div>  
  </div> <!-- end of tab row ./col-sm-8-->
</div>
