<div class="row product-page-row1">
  <div class="col-sm-8">
    <div class="product-page-productPicture">
      <img src="{{product.featured_image | img_url: 'large' }}" />
    </div> <!-- END ./product-page-productPicture -->
  </div> <!-- END ./col-sm-8 -->

  <div class="product-page-">
    
  </div>
</div> <!-- product-page-row1 -->

<!-- tab section-->
<div class="row product-page-tabs">
  
</div>