(function () {

hbsApp.controlPanelInit = function (hbsApp) {

  /****************************************************************************
    Universal settings and helpers
  ****************************************************************************/
  var master = {
    id: "hbsDebuggerPanel",
    leftCSS: {
      'background-color': 'pink',
      'width': '100px',
      'height': '50px',
      float: 'left'
    },

    rightCSS: {
      'background-color': 'white',
      width: '100px',
      heigth: '50px',
      float: 'right'
    },

    copyCSS : function (css) {
      css = css || this.leftCSS;
      var copy = {};
      for (property in css) {
        copy[property] = css[property];
      }
      return copy;
    }
  };

  /****************************************************************************
    CREATE CONTROL PANEL
  ****************************************************************************/
  // takes 4 args, text, css, parentEl(id), classes
  var createDiv = function (text, css, parentEl, classes) {
    text = text || "";
    parentEl = parentEl || $('#')
    classes = classes || "hbsDebuggerSwitch";
    css = css || master.leftCSS;

    return $('<div>' + text + '</div>').appendTo(parentEl)
      .addClass(classes).css(css);
  };

  /*
    add a debugging / style panel
  */
  var createPanel = function (parentEl, css, id) {
    id = id || master.id;
    parentEl = parentEl || $('body');
    if (!css) {
      css = {
        position: 'fixed',
        border: '2px solid black',
        bottom: 0,
        left: 0,
        'text-align': 'center',
        padding: '2px'
      }
    }

    master[id] = $('<div></div>').appendTo(parentEl).attr('id', id).css(css);

    return master[id];
  };

  // Initialize lower left OVERALL panel
  createPanel();

  // Initial lower right page/template specific panel
  var pagePanelCSS = {
    position: 'fixed',
    border: '2px solid black',
    bottom: 0,
    right: 0,
    'text-align': 'center',
    padding: '2px'
  };
  createPanel("", pagePanelCSS, 'pagePanel');

  /****************************************************************************
    CREATE UNIVERSAL PANEL ITEMS
      createDiv() // takes 4 args, text, css, parentEl(id), classes
  ****************************************************************************/
  /*
    MASTER STYLING SWITCH
  */
  $('<div>Styles ON</div>').appendTo($('#hbsDebuggerPanel')).addClass('hbsMasterSwitch').css({
    'background-color': 'rgb(20, 200, 20)',
    'width': '100px',
    'height': '50px',
    float: 'left'
  }).on('click', function () {
    var styles = $('.hbsDebuggerSwitch');
    if (styles.hasClass('hidden')) {
      styles.removeClass('hidden');
      $(this).text('Styles ON').css('background-color', 'rgb(0,220,0)');
    } else {
      styles.addClass('hidden');
      $(this).text('Styles OFF').css('background-color', 'red');
    }
  });

  // add background color
  var backgroundColorCSS = master.copyCSS(master.leftCSS);
  backgroundColorCSS['background-color'] = "rgb(220, 220, 220)";
  backgroundColorCSS['width'] = '75px';
  var backgroundColor = createDiv('BG color', backgroundColorCSS, master.hbsDebuggerPanel, 'hbsDebuggerSwitch');
  var backgroundColorInput = $('<input type="color" class="backgroundColor"/>').appendTo(backgroundColor);
  backgroundColorInput.on('change', function () {
    var color = $(this).val();
    $('body').css('background-color', color);
  });
  // add container color
  var containerColorCSS = master.copyCSS(master.leftCSS);
  containerColorCSS['background-color'] = "rgb(200, 200, 200)";
  containerColorCSS['width'] = '100px';
  var containerColor = createDiv('container color', containerColorCSS, master.hbsDebuggerPanel, 'hbsDebuggerSwitch');
  var containerColorInput = $('<input type="color" class="containerColor"/>').appendTo(containerColor);
  containerColorInput.on('change', function () {
    var color = $(this).val();
    $('#page_container').css('background-color', color);
  });


  // background picture test
  $('body').prepend($('<div>BG texture:</div>').addClass('background_test hbsDebugger hidden'));
    
  // foreground block test
  $($('<div>block texture:</div>').addClass('foreground_test hbsDebugger hidden')).insertAfter($('.background_test'));
  
  {% assign base = "default_background_" %}
  {% for i in (0..14) %}
    {% assign display_bg = base | append: i | append: "_display" %}
    
    {% if settings[display_bg] == true %}
      {% assign bg_picture = base | append: i | append: "_picture.png" %}
      {% assign bg_title = base | append: i | append: "_title"%}

      $('.background_test').append(
          $('<div></div>').addClass({{ bg_picture | asset_url | json}}).text({{ settings[bg_title] | json }})
        );

      $('.foreground_test').append(
          $('<div></div>').addClass({{ bg_picture | asset_url | json}}).text({{ settings[bg_title] | json }})
        );
    {% endif %}
    
  {% endfor %}

  $(".background_test").on('click', 'div', function (e) {
    $('#aboutus_video').addClass('hidden');
    $('body').css('background-image', "url(" + $(this).attr('class')+ ")");
  });

  $(".foreground_test").on('click', 'div', function (e) {
    $('.frontpage_block_content, .aboutus_execprofile_container').css('background-image', "url(" + $(this).attr('class')+ ")").css(
     'background-color', 'none');
  });


  /*
    add a container-fluid container-fixed switch
  */
  $('<div>' + hbsApp.containerType + '</div>').appendTo($('#hbsDebuggerPanel')).addClass('hbsDebuggerSwitch').css({
    'background-color': 'pink',
    'width': '100px',
    'height': '50px',
    float: 'left'
  }).on('click', function (e) {
    if ($(this).text() === '.container') { 
      $(this).text('.container-fluid');
      $(".container").addClass('container-fluid').removeClass('container');

    // if container is fluid, switch 
    } else if ($(this).text() === '.container-fluid'){
      $(this).text('.container');
      $(".container-fluid").addClass('container').removeClass('container-fluid');

    // not using bootstrap container
    } else if ($(this).text() === 'null') {
    }

    $(window).trigger('resize');

  });

  /*
    Create a toggle to insert/remove header into container to view fix/fluid style
  */
  var headerNested = $( hbsApp.containerType + ' .hbs_headers').length > 0;
  var headerNestText = headerNested ? "header nested" : "header not nested";
  var headerNestCSS = master.copyCSS();
  headerNestCSS['background-color'] = 'yellow';
  // text, css, parentEl, classes
  createDiv(headerNestText, headerNestCSS, master.hbsDebuggerPanel, "hbsDebuggerSwitch")
    .on('click', function (index) {
      if (headerNested) {
        $(this).text('header not nested');
        hbsApp.header.prependTo($('body'));
        headerNested = false;
      } else if (!headerNested){
        $(this).text('header nested');
        hbsApp.header.prependTo(hbsApp.container);
        headerNested = true;
      }
      $(window).trigger('resize');
    });

  /****************************************************************************
    CREATE PAGE SPECIFIC
  ****************************************************************************/

  /*---------------------------------------------------------------------------
      FRONT PAGE PANEL
        createDiv () // text, css, parentEl(id), classes
        master.copyCSS() // css

  ---------------------------------------------------------------------------*/
  if (hbsApp.template === 'index') {  

    /*
      Create a toggle to insert/remove slide show picture
    */


    /*
      create a panel to change upcomingEvents font-size, color, for each individual 
    */
    var upcomingEventsCSS = {
    };

    // for titles
    var eventsTitle = createDiv('N/A', master.rightCSS, master.pagePanel, 'hbsDebuggerSwitch upcomingEventsControl');


    /*
      frontpage column adjustment
      - right column always has to be gte the left column (height: fixed)
        + except on mobile (height: auto)
    */
  } // end frontpage inclusion
  /*---------------------------------------------------------------------------
      ABOUT US PAGE PANEL
  ---------------------------------------------------------------------------*/

}; // hbsApp.controlPanelInit();
})();
