(function () {

window.hbsApp = {} ;
var hbsApp = window.hbsApp

  /****************************************************************************
    UNIVERSAL
  ****************************************************************************/

  // special console log, first argument is true or false, meaning to be displayed or not
  // this is because we can't set break points in chrome debugger, so have to use console logs to debug
  hbsApp.cLog = function (toLog) {
    if (toLog === true) {
      var args = Array.isArray(arguments[1]) ? arguments[1] : Array.prototype.slice.call(arguments, 1);
      console.log.apply(console, args);
    }
  };

  // converts an rgba string to an array of returns an array of 3 or 4 values
	hbsApp.rgbaToVal = function (rgbaStr) {
    rgbaStr = rgbaStr || "rgba(255, 255, 255)";
		var rgba = [];
		var parsed = rgbaStr.match(/\d+/g);
		for (var i = 0; i < parsed.length; i++) { 
			rgba.push(parseInt(parsed[i], 10));
		}
		return rgba;
	}

  // this is for checking if the size of the viewport as classified by bootstrap (xs, sm, md, lg)
  hbsApp.rgbaToName = function (rgbaStr) {
  	var rgba = hbsApp.rgbaToVal(rgbaStr);
  	var red = rgba[0];
  	var green = rgba[1];
  	var blue = rgba[2];
  	var alpha = rgba[3];

  	if (red > 100 && green > 100 && blue > 100) {
  		return "lg";
  	} else if (red > 100) {
  		return "xs";
  	} else if (green > 100) {
  		return "sm";
  	} else {
  		return "md";
  	}
  };

  // returns 'xs', 'sm', 'md', or 'lg', depending on the current viewport. this is based on a hidden div in the header that changes background color according to css media queries
  hbsApp.getMobileCheck = function () {
	  return hbsApp.rgbaToName($('.mobileCheck', hbsApp.headers).css('background-color'));
  };

  // converts a string of comma separated strings (default) to an array of numbers
  hbsApp.numStrToArray = function (str, delimiter) {
    delimiter = delimiter || ",";

    var array = str.split(delimiter);
    array.forEach(function (el, index, array) {
      array[index] = parseInt(el, 10);
    });

    return array;
  };

  /*
    check if images are still loading
    // timesChecked specifies max amount of time this function will run, just in case an image can't be found, the page won't stop loading
  */
  hbsApp.checkImgLoading = function (imageElements, callback, args, context, timesChecked) {
    var interval = 300;
    var toLog = false;
  	timesChecked = (timesChecked === undefined ? 40 : timesChecked);
    hbsApp.cLog(toLog, 'timesChecked orig: ', timesChecked);
    hbsApp.cLog(toLog, 'checkImgLoading: ', imageElements, callback, args, context, timesChecked);
  	if (timesChecked > 0) {
	    imageElements = imageElements || $('img');
	    context = context || null;

	  	filtered = imageElements.filter(function (index) {
	  		return this.naturalHeight === 0 || this.naturalWidth === 0;
	  	});

	  	// all images are loading / have a size
	  	if (filtered.length === 0) {
        hbsApp.cLog(toLog, 'timesChecked total loops: ', 40 - timesChecked, ', at', interval, 'ms / loop');
	  		hbsApp.imagesLoading = true;
	  		callback.apply(context, args);

	  	// not all images are loading / received size yet
	  	} else {
	  		var images = filtered;
	  		// for (var i = 0; i < images.length; i++) { hbsApp.cLog(toLog, 'img' + i, images[i].src, images[i].naturalHeight)}
	  		hbsApp.imagesLoading = false;
        hbsApp.cLog(toLog, 'timesChecked loops left: ', timesChecked);
	  		setTimeout(function () {
	  			hbsApp.checkImgLoading(filtered, callback, args, context, timesChecked-1);
	  		}, interval);
	  	}
  	}
  };

  /*
    return the container, strips away the $() wrap
  */
  hbsApp.getContainerDOM = function () {
    var container = $('.container');
    if (container.length > 0) {
      return container[0];
    } else {
      container = $('.container-fluid');
    }

    if (container.length > 0) {
      return container[0];
    } else {
      container = $('#page_container');
    }

    if (container.length > 0) {
      return container[0];
    } else {
      return null;
    }
  };

  /*
    return the type of container, either: "container", "container-fluid", or "null"
  */
  hbsApp.getContainerType = function (container) {
    if ($(container).hasClass('container')) { return '.container'; }
    else if ($(container).hasClass('container-fluid')) { return '.container-fluid'; }
    else { return "#page_container"; }
  };

  // this is one layer deep, there's usually some separator on the pages
  // container :: is where everything is contained, the items to be toggled mixed with other elements
  // toggle :: a class to be toggled OFF
  // before :: starting from the last child, we will toggle the specified class off UNTIL with the 'before' limiter
  hbsApp.toggleSeparator = function (container, toggle, before) {
    var children = $(container).children();
    for (var i = children.length-1; i >= 0; i--) {
      var child = children[i];
      // we only want to toggle separator elements AFTER the category elements
      if ($(child).hasClass(before)) {
        return;
      }

      if ($(child).hasClass(toggle)) {
        $(child).toggleClass(toggle);
      }
    }
  };

  /****************************************************************************
    SETTINGS: DEFAULT FONTS
  ****************************************************************************/
  hbsApp.loadGoogleFonts = function () {

  };

  /****************************************************************************
    HEADER
  ****************************************************************************/
  // header navbar link is highlighted if the link's href matches the pathname of the URL
  hbsApp.navbarHighlight = function () {
    var pathname = window.location.pathname;
    $('#hbs_header .navbar-nav a').each(function (index) {
      if ($(this).attr('href') === pathname ) {
        $(this).css({
          "background-color": "rgb(245, 245, 245)",
        });
      }
    });
  };

  /****************************************************************************
    PAGE SPECIFIC FUNCTIONS
  ****************************************************************************/

  /*---------------------------------------------------------------------------
    HOMEPAGE / FRONTPAGE / LANDING 
  ---------------------------------------------------------------------------*/
  /*
    homepage/frontpage column adjustment
    - right column always has to be gte the left column (height: fixed)
      + except on mobile (height: auto)
      + except when the left column is naturally shorter because of its contents
  */

  hbsApp.fpAdjustCol = function () {
    var toLog = true;
    if ($('#frontpage_container').length > 0) {
      hbsApp.cLog(toLog, 'fpAdjustCol executed');
      var leftCol = $(".frontpage_md_leftColumn")[0];
      var rightCol = $(".frontpage_md_rightColumn")[0];
      $(rightCol).css('height', 'auto');

      var leftColHeight = leftCol.scrollHeight;
      var rightColHeight = rightCol.scrollHeight;
      hbsApp.cLog(toLog, 'col left:', leftColHeight, ', right:',rightColHeight);

      if (hbsApp.mobileCheck === 'xs') {
        $(rightCol).css('height', 'auto');
        hbsApp.cLog(toLog, 'currently small?');
      } else if (rightColHeight < leftColHeight) {
        hbsApp.cLog(toLog, 'right before adj', rightCol.scrollHeight);
        $(rightCol).css('height', leftColHeight + 'px');
        hbsApp.cLog(toLog, 'right after adj', rightCol.scrollHeight);
      } else if (rightColHeight >= leftColHeight) {
        $(rightCol).css('height', 'auto');
      } else {
        $(rightCol).css('height', leftColHeight + 'px');
      }
    }
  };

  /*
    Set all images within the pulse feature to be centered
  */
  hbsApp.fp_centerPulseFeatureImg = function () {
    var pulseImages = $('.frontpage_md_pulseFeature img');
    pulseImages.addClass('center-block').parent().addClass('center-block');
  };

  /*
    this function breaks the description line in the upcoming events info container to a new line if it is determined that the picture size is too small in comparison to the info container
  */
  hbsApp.fp_adjustEventsInfoDescription = function (thresholdMax) {
    var toLog = false; // set to false to turn off debuggin console logs (breakpoints don't work on shopoify);
    var thresholdMax = thresholdMax || 1;

    // this checks only 'xs', but really, if someone transitions from 'xs' to other sizes, this sitll needs to be checked
    // therefore, if there is a transition from xs to any othersize, then we will run this again
    if (hbsApp.mobileCheck === 'xs' || hbsApp.mobileCheckPrevious === 'xs' && hbsApp.mobileCheck !== 'xs') {
      hbsApp.cLog(toLog, 'checking becaues XS');
      var eventWrapper = $('.eventWrapper');
      var pictures = $('.eventPicture', eventWrapper);
      var eventInfo = $('.eventInfo', eventWrapper);
      var infoCol = $('.col-xs-8', eventWrapper);
      var eventTemp = $('.event_descriptionTemp', eventWrapper);

      $('.frontpage_event_description').each(function (index) {
        var picHeight = parseInt($(pictures[index]).css('height'), 10);
        var descripHeight = parseInt($(this).css('height'), 10);
        var infoHeight = parseInt($(eventInfo[index]).css('height'), 10);

        // debugging purpose
        hbsApp.cLog(toLog, 'picHeight:', picHeight, ', descripHeight:', descripHeight, ', infoHeight:', infoHeight);
        hbsApp.cLog(toLog, 'this parent has class eventInfo:', $(this).parent().hasClass('eventInfo'));
        hbsApp.cLog(toLog, 'this parent has class event description temp:', $(this).parent().hasClass('event_descriptionTemp'));

        // if parent is eventInfo, that means it is contained within eventInfo, and we check the full height to see if it's more than the eventPicture
        if ($(this).parent().hasClass('eventInfo')) {
          hbsApp.cLog(toLog, 'parent is eventInfo. is infoHeight > picHeight?: ', infoHeight > picHeight);
          if (infoHeight > picHeight) {
            $(this).appendTo(eventTemp[index]);
          }
        // if parent is event_descriptionTemp. we change its width to the infoCol width, and check if the would be height PLUS the currentInfo height is greater than the picture height
        } else if ($(this).parent().hasClass('event_descriptionTemp')) {
          hbsApp.cLog(toLog, 'parent is descripTemp');
          var infoColWidth = $(infoCol[index]).css('width');
          var withinInfoHeight = parseInt($(this).css('width', infoColWidth).css('height'), 10);
          hbsApp.cLog(toLog, 'infoColWidth (px):', infoColWidth, 'withinInfoHeight (decimal):', withinInfoHeight)
          hbsApp.cLog(toLog, 'withinInfoHeight + infoHeight < picHeight * threshold', withinInfoHeight + infoHeight < picHeight * thresholdMax);
          // if it is greater, then we append it to the appropriate eventInfo index, else we revert it back to its original width
          if (withinInfoHeight + infoHeight < picHeight * thresholdMax) {
            $(this).appendTo(eventInfo[index]);
          } else {
          }
          $(this).css('width', 'auto');
        }

      });
    }
  }; // end of fp_adjustEventsInfoDescription

  /*---------------------------------------------------------------------------
    ABOUT US PAGE
    *aboutus*
  ---------------------------------------------------------------------------*/
  hbsApp.sortProfiles = function (hbsApp, order) {
    // detaching and reattaching a sorted grid of profile names
    var toLog = false;
    var breakerIndexes = [];
    var previousSibling = [];

    // get profile wrappers and detach from the dom, sort, then append back
    // HOWEVER only profiles after the first row should be sorted
    var afterFirstRow = hbsApp.numStrToArray(order)[0];
    var profileWrappers = $('.aboutus_execprofile_profile_wrapper').filter(function (index) {
      if (index > afterFirstRow-1) {
        return true;
      }
    }).detach();
    hbsApp.cLog(toLog, '\nnames before sort: ', $('.aboutus_execprofile_profile_name', profileWrappers).text());

    // sort the wrappers, mutates the original array
    profileWrappers.sort(function (profile1, profile2) {
      var name1 = $('.aboutus_execprofile_profile_name', $(profile1)).text().split(' ')[1];
      var name2 = $('.aboutus_execprofile_profile_name', $(profile2)).text().split(' ')[1];

      // alphabetical A-Z
      if (name1 < name2) {
        return -1;
      } else if (name1 > name2 ) {
        return 1
      } else {
        return 0;
      }
    });

    hbsApp.cLog(toLog, 'after sort: ', $('.aboutus_execprofile_profile_name', profileWrappers).text());

    // reinsert/reattach profile wrappers
    profileWrappers.appendTo($('.aboutus_execprofiles'));

  }; // end of sortProfiles

  hbsApp.createBreaks = function (orderStr) {

    var order = hbsApp.numStrToArray(orderStr, ',');
    var wrappers = $("#wrapAll .aboutus_execprofile_profile_wrapper");

    // all even numbers must have a division
    var two = "visible-sm-block two";
    wrappers.each(function (index) {
      if ( (index+1) % 2 === 0 ) {
        $(this).after($("<div></div>").addClass(two));
      }
    });

    // skip all numbers equal to 2, since the previous one has included it already
    for (var i = 0, index = 0; i < order.length; i++) {
      index += order[i];
      var divide = $('<div></div>').addClass('hidden-sm order');
      $(wrappers[index-1]).after(divide);
    }
  };

  /*---------------------------------------------------------------------------
    EVENTS PAGE
    *events*
  ---------------------------------------------------------------------------*/

  /*---------------------------------------------------------------------------
    COMMUNITY
    *community*
  ---------------------------------------------------------------------------*/
  /* 
    Functions related to the community page are about extracting the description and events list, and appending them to their respective fields
     String.prototype.search(regexp)
       =description= :: /=\s*description\s*=/
       =events=      :: /=\s*events\s*=/
  */

  hbsApp.community = {};
  hbsApp.community.categories = {};
  var categories = hbsApp.community.categories;

  // targets to search for
  hbsApp.community.targets = ['description', 'events', 'image'];

  // helper functions to convert an array of strings to regular expressions for =string=
  hbsApp.community.makeRE = function (string) {
    return new RegExp("=\\s*" + string + "\\s*=");
  };

  hbsApp.community.toRE = function (array) {
    var results = [];
    for (var i = 0; i < array.length; i++) {
      results.push(hbsApp.community.makeRE(array[i]));
    }
    return results;
  };

  // returns an object with properties that match the 'targets' parameter
  // the 'target' paramenter is an array of keywords, e.g.: ['description', 'events']
  hbsApp.community.extract = function (html, targets, targetsRE) {
    var html = $(html);
    var children = html;
    var results = {};
    var appendTarget = null;
    var skip = true;

    // create empty arrays for results to hold dom elements
    for (var i = 0; i < targets.length; i++) {
      results[targets[i]] = $('<div></div>').addClass(targets[i]);
    }

    window.children = children;

    // if a regex match is found, 
    children.each(function (index) {
      skip = false;
      for (var i = 0; i < targetsRE.length; i++) {
        if ($(this).text().search(targetsRE[i]) >= 0) {
          appendTarget = results[targets[i]];
          skip = true;
        } 
      }

      if (appendTarget && !skip) {
        appendTarget.append($(this));
      }
    });

    // return object, which consists of properties matching the target name, with values as an array of dom elements
    return results;
  };

  hbsApp.community.init = function () {
    console.log('community init');
    var targets = hbsApp.community.targets;
    var targetsRE = hbsApp.community.toRE(targets);

    for (var category in categories) {
      page = categories[category];
      var id = category;
      parsedHTML = hbsApp.community.extract(page.content, targets, targetsRE);
      window.test = parsedHTML;

      for (var target in parsedHTML) {
        // append description
        $('#' + id + " ." + target).append(parsedHTML[target]);
      }
    }

  };

  /*---------------------------------------------------------------------------
    SPONSORS
    tags: *sponsors*
  ---------------------------------------------------------------------------*/


  /*---------------------------------------------------------------------------
    CATALOG / COLLECTIONS
    tags: *catalog* *collections* *products*
  ---------------------------------------------------------------------------*/
  /*
    Catalog page adjust images just in case aspect ratio is not the same when merchant uploaded
    - look for images under the .collection-grid-row
    - useful for container-fluid    
  */
  hbsApp.catalogAdjustProductHeight = function (imageObj, hbsApp, imageSelector) {
    console.log('is this executed?');
    var toLog = true;
    imageSelector = imageSelector || '.collection-grid-row .product-image-wrapper img';
    if (!imageObj) {
      hbsApp.imageObj = {};
      var imageObj = hbsApp.imageObj;
      imageObj.images = $(imageSelector);
      imageObj.ideal = null;
      imageObj.unevenImages = [];
      imageObj.evenImages = [];
      imageObj.firstTime = true;
      imageObj.images.each(function (index) {
        if (!hbsApp.imageObj.ideal && this.naturalHeight % this.naturalWidth === 0) {
          hbsApp.imageObj.ideal = this;
          imageObj.evenImages.push(this);
        } else {
          if (this.naturalHeight % this.naturalWidth === 0) { 
            imageObj.evenImages.push(this)
          } else { 
            imageObj.unevenImages.push(this) 
          }
        }
      });
    }

    if (hbsApp.imageObj.ideal === null) {
      var idealHeight = hbsApp.catalogColWidth();
    } else {
      var idealHeight = $(hbsApp.imageObj.ideal).css({width: "100%", height: 'auto'}).css('height');
    }

    if (imageObj.firstTime) {
      $(imageObj.evenImages).css({width: '100%', height: 'auto'});
    }
  
    /* 
      if height/width is gt 1, then image is vertical rect, set height to fix, width to auto
      if height/width is lt 1, then image is horizontal rect, set width to fix, height to auto
    */
    $(imageObj.unevenImages).each(function (index) {
      var aspectRatio = this.naturalHeight / this.naturalWidth;

      // vertical rectangle
      if (aspectRatio > 1) {
        $(this).css({height: idealHeight, width: 'auto'});

      // horizontal rectangle
      } else {
        $(this).parent().css({height: idealHeight, width: 'auto'});
        $(this).css({height: 'auto', width: idealHeight});
        if (imageObj.firstTime) {
          $(this).parent().addClass('unevenHorizontalParent');
        }
      }
    });
    imageObj.firstTime = false;
  };

  /*
    calculate current column width, fixed or fluid will both have the same width once the dom is loaded
  */
  hbsApp.catalogColWidth = function (colSelector) {
    var toLog = true;
    colSelector = colSelector || '.product-grid-wrapper';
    var col = $(colSelector);
    if (col.length > 0) {
      col = $(col[0]);
      var finalWidth = parseInt(col.css('width'), 10);
      var checkStyles = ['border-left', 'border-right', 'padding-left', 'padding-right']
      for (var i = 0; i < checkStyles.length; i++) {
        finalWidth -= parseInt(col.css(checkStyles[i]), 10);
      }
      return finalWidth;
    }
  }

  /*
    Because img loading time is asychronous, the pictures will jitter, so we have to set all the pictures to an initial width
    - this executes ONCE only
  */
  hbsApp.catalogInitCol = function (idealHeight, imageSelector) {
    imageSelector = imageSelector || '.product-grid-wrapper img';
    $(imageSelector).css({height: idealHeight + 'px', width: 'auto'});
  };

  /*---------------------------------------------------------------------------
    PRODUCT / INDIVIDUAL
    tags: *product* *individual*
  ---------------------------------------------------------------------------*/
  // pictures can only be of a certain size, but we dont' know what ratio the pictures will be, so we give them predefined sizes
  hbsApp.product_adjustMaxDimensions = function (hbsApp) {
    hbsApp = hbsApp || window.hbsApp;
    var image = $('.product-page-productPicture img')[0];
    var aspectRatio = image.naturalWidth / image.naturalHeight;
    // if aspect ratio is square, then set max width
    if (aspectRatio === 1) {
      $(image).parent().addClass('square');

    // if aspect ratio is horizontal rectangle, then set max width
    } else if (aspectRatio > 1) {
      $(image).parent().addClass('horizRect');

    // if aspect ratio is vertical rectangle, then set max height
    } else if (aspectRatio < 1) {
      $(image).parent().addClass('vertRect');
    }
  }

  // split variants into separate selection menus
  hbsApp.splitVariants = function () {

  };

  // variant images on enter
  // for left side variant images
  hbsApp.imageReplace = function (index, src) {
    src = src || $(this).attr('src');
    if ($('#main-image').attr('src') !== src) {
      $('.main-image').remove();
      var image = $('<img/>').attr('src', src);
      image.addClass('thumbnail').addClass('main-image');
      image.appendTo('.product-page-productPicture'); 
      console.log('after: ', image.attr('src'))
    }
  };

  // for selected variant
  hbsApp.imageSelect = function (index) {
    var src = $("option:selected", $(this)).attr('img-source');
    imageReplace(index, src);
    console.log('selected: ', src);
  };

  hbsApp.variantImageReplace = function () {
    $('.variant-image').on('mouseenter', hbsApp.imageReplace);
    $('.variant-image').on('click', hbsApp.imageReplace);
    $('#product-select').on('change', hbsApp.imageSelect);
  };

  // read product.description and retrieve relevant information to insert into proper place and create fields
  hbsApp.addExtraFormFields = {};
  hbsApp.addExtraFormFields.init = function (descriptionSelector, afterNode) {
    descriptionSelector = descriptionSelector || "#product-description";
    afterNode = afterNode || "#product-price";

    // closure variables
    var count = 0;
    var obj = hbsApp.addExtraFormFields;

    // mutable properties
    obj.masterDiv = $('<div></div>').attr('id', 'product-extra').addClass('product-extra');
    obj.insertAfterThisNode = $(afterNode);
    obj.productDescription = $(descriptionSelector); // obj should be liquid | json ?
    obj.classList = {
      'product-extra-input': true, 
      'product-extra-note' : true
    };

    obj.increment = function (noIncrement) {
      return noIncrement ? count : count++;
    };

    obj['product-extra-input'] = function (domNode) {
      nodeText = domNode.text();
      nodeID = "product-extra-input" + obj.increment();
      var div = $('<div></div>').addClass('product-extra-input');

      var label = $('<label></label>').text(nodeText).attr({"for" : nodeID});
      var input = $('<input/>').attr({
        "id"   : nodeID, 
        "type" : "text",
        "name" : "properties[" + nodeText + "]"
      });
      div.append(label).append(input);

      domNode.remove();
      return div;
    };

    obj['product-extra-note'] = function (domNode) {
      var div = $('<div></div>').addClass('product-extra-note');
      var small = $("<small></small>").text(domNode.text());

      domNode.remove();
      return div.append(small);
    };

    // LOGIC
    var children = obj.productDescription.children();
    children.each(function (index) {
      for (var targetClass in obj.classList) {
        if ($(this).hasClass(targetClass)) {   
          var extraDiv = obj[targetClass]($(this));
          obj.masterDiv.append(extraDiv);
        }
      }
    });
    obj.insertAfterThisNode.after(obj.masterDiv);
  }; // END / addExtraFormFields.init

})();