{% case page.handle %}
  {% when "about-us" %}
    {% include 'page_about-us' %}
  {% when "events" %}
    {% include 'page_events' %}
  {% when "community" %}
    {% include 'community' %}
  {% else %}
  <div class="container">
    {% include 'header' %}

    <div class="row">
      <h3 class="col-sm-12 block-title">{{ page.title }}</h3>  
    </div>

    <div class="row rte block-text">
      <div class="col-sm-12 block-text">
        {{ page.content }}
      </div>
    </div>
  </div>
{% endcase %}
{% include 'footer' %}  


{% comment%}
===============================================================================
    EVERYTHING BELOW THIS LINE IS SHOPIFY SKELETON THEME
===============================================================================

{% comment %}
Re-use the 'rte' class wherever you output content that was added by a merchant using
the Rich Text Editor ( 'rte' stands for rich text editor ).
Style all HTML elements in that content the same way across the board.
Use the 'rte' class in your CSS to help maintain that consistency.
Example: the h2 element should have the same size and color in:
- product descriptions
- collection descriptions
- 'page' pages' content
- blog post
{% endcomment %}

<h1>{{ page.title }}</h1>

{% if page.handle == "about-us" %}
  
{% endif %}

{% endcomment %}